<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The latest Tesla news">

    <title>TeslaTracker</title>

    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="container">
    <header>
      <h1 class="logo">
        <svg width="237" height="43" viewBox="0 0 237 43" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M16.6638 9.232L16.2678 11.968H10.1838V34H6.83578V11.968H0.571781V9.232H16.6638ZM34.3634 9.232L33.9674 11.824H25.3994V19.996H32.8514V22.588H25.3994V31.372H34.4714V34H22.0514V9.232H34.3634ZM46.5944 8.764C48.0584 8.764 49.3304 9.004 50.4104 9.484C51.5144 9.964 52.5464 10.684 53.5064 11.644L51.8144 13.552C50.9984 12.832 50.1824 12.304 49.3664 11.968C48.5744 11.608 47.7104 11.428 46.7744 11.428C45.5744 11.428 44.6024 11.764 43.8584 12.436C43.1384 13.084 42.7784 13.948 42.7784 15.028C42.7784 15.748 42.9224 16.372 43.2104 16.9C43.4984 17.404 43.9904 17.872 44.6864 18.304C45.3824 18.712 46.3664 19.132 47.6384 19.564C49.1024 20.092 50.3024 20.656 51.2384 21.256C52.1744 21.856 52.8944 22.624 53.3984 23.56C53.9024 24.496 54.1544 25.672 54.1544 27.088C54.1544 28.504 53.8304 29.776 53.1824 30.904C52.5344 32.008 51.5984 32.884 50.3744 33.532C49.1744 34.156 47.7584 34.468 46.1264 34.468C43.1264 34.468 40.5704 33.388 38.4584 31.228L40.2224 29.32C41.1104 30.112 42.0104 30.724 42.9224 31.156C43.8584 31.564 44.8904 31.768 46.0184 31.768C47.4344 31.768 48.5624 31.372 49.4024 30.58C50.2664 29.764 50.6984 28.648 50.6984 27.232C50.6984 26.008 50.3504 25.036 49.6544 24.316C48.9824 23.596 47.7344 22.924 45.9104 22.3C43.5824 21.484 41.9024 20.536 40.8704 19.456C39.8624 18.376 39.3584 16.972 39.3584 15.244C39.3584 14.02 39.6584 12.916 40.2584 11.932C40.8824 10.924 41.7464 10.144 42.8504 9.592C43.9544 9.04 45.2024 8.764 46.5944 8.764ZM64.0853 9.232V31.156H73.1213L72.7613 34H60.7373V9.232H64.0853ZM91.0178 34L89.3618 27.7H81.0458L79.3898 34H76.0418L83.2058 9.232H87.3098L94.4738 34H91.0178ZM81.7298 25.072H88.6778L85.2218 11.896L81.7298 25.072ZM111.586 9.232L111.19 11.968H105.106V34H101.758V11.968H95.4937V9.232H111.586ZM129.141 34L123.813 23.452H123.597H120.321V34H116.973V9.232H122.769C128.673 9.232 131.625 11.56 131.625 16.216C131.625 17.848 131.229 19.228 130.437 20.356C129.645 21.484 128.481 22.312 126.945 22.84L132.849 34H129.141ZM123.021 20.896C124.749 20.896 126.033 20.524 126.873 19.78C127.713 19.012 128.133 17.824 128.133 16.216C128.133 14.704 127.701 13.588 126.837 12.868C125.997 12.148 124.617 11.788 122.697 11.788H120.321V20.896H123.021ZM150.91 34L149.254 27.7H140.938L139.282 34H135.934L143.098 9.232H147.202L154.366 34H150.91ZM141.622 25.072H148.57L145.114 11.896L141.622 25.072ZM167.699 8.764C168.995 8.764 170.123 8.968 171.083 9.376C172.043 9.76 172.991 10.372 173.927 11.212L172.199 13.228C171.503 12.628 170.807 12.184 170.111 11.896C169.439 11.608 168.695 11.464 167.879 11.464C166.007 11.464 164.519 12.268 163.415 13.876C162.311 15.46 161.759 18.028 161.759 21.58C161.759 25.036 162.311 27.592 163.415 29.248C164.519 30.88 166.007 31.696 167.879 31.696C168.815 31.696 169.619 31.528 170.291 31.192C170.963 30.856 171.695 30.364 172.487 29.716L174.179 31.696C172.379 33.544 170.219 34.468 167.699 34.468C165.851 34.468 164.207 33.988 162.767 33.028C161.351 32.068 160.235 30.628 159.419 28.708C158.627 26.764 158.231 24.388 158.231 21.58C158.231 18.796 158.639 16.444 159.455 14.524C160.295 12.604 161.423 11.164 162.839 10.204C164.279 9.244 165.899 8.764 167.699 8.764ZM183.272 9.232V34H179.924V9.232H183.272ZM195.44 9.232L187.052 20.536L196.016 34H192.164L183.416 20.752L191.876 9.232H195.44ZM213.442 9.232L213.046 11.824H204.478V19.996H211.93V22.588H204.478V31.372H213.55V34H201.13V9.232H213.442ZM232.325 34L226.997 23.452H226.781H223.505V34H220.157V9.232H225.953C231.857 9.232 234.809 11.56 234.809 16.216C234.809 17.848 234.413 19.228 233.621 20.356C232.829 21.484 231.665 22.312 230.129 22.84L236.033 34H232.325ZM226.205 20.896C227.933 20.896 229.217 20.524 230.057 19.78C230.897 19.012 231.317 17.824 231.317 16.216C231.317 14.704 230.885 13.588 230.021 12.868C229.181 12.148 227.801 11.788 225.881 11.788H223.505V20.896H226.205Z" fill="url(#paint0_angular)"/>
          <defs>
          <radialGradient id="paint0_angular" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(118.5 21.5) rotate(90) scale(21.5 118.5)">
          <stop offset="0.5" stop-color="#5C5EC8"/>
          <stop offset="0.803882" stop-color="#3F67CE"/>
          <stop offset="0.995171" stop-color="#AF47B8"/>
          </radialGradient>
          </defs>
          </svg>
      </h1>
      
      <div>
        <div>
          Submit A Link
        </div>
        <div> <!-- The Search Bar -->
          <form>
            <input name="search" aria-label="a new dream" type="text" maxlength="100" placeholder="Search">
          </form>
        </div>
        <div>
          <strong>adamqureshi</strong> (73)
        </div>
      </div>
      
    </header>

    <main>
      
        <section class="articles">
          <article class="article">

            <div class="article-details">
              <div class="article-website">
                <img src="https://www.cnbc.com/favicon.ico" class="article-favicon">
                <p class="article-websitename">
                  cnbc.com
                </p>
              </div>
              <div class="article-date">
                Sept 10, 12:03 pm
              </div>
            </div>

            <p class="article-title fs-1 fw-1">
              Tesla profit surge driven by record car deliveries 
            </p>
            <p class="article-description">
              Tesla has reported surging profits, despite shortages of semiconductor chips and congestion at ports hampering production. Sales rose to $12bn (£8.6bn) in the three months to the end of June, up from $6bn a year ago, when its US factory was shut down. The electric carmaker said it delivered a record 200,000 cars to customers in the same period.
            </p>
            <p class="article-tags">
              Model S, Financials, Deliveries, EV, Semiconductor Shortage
            </p>
          </article>
        </section>
    </main>

    <footer>
      <p class="footer-text">Teslatracker is an independent organization and is not affiliated with Tesla Motors, Inc. or its subsidiaries. Tesla, Tesla Motors, Tesla Roadster, Model S, Model X, and the “Tesla”, “T” and “Tesla and T in Crest” designs are trademarks or registered trademarks of Tesla Motors, Inc. in the United States and other countries.</p>
    </footer>
    
    </div>
  </body>
</html>
