<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The latest Tesla news">

    <title>TeslaTracker</title>

    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        TeslaTracker
      </h1>
      
      <div>
        <div>
          Submit A Link
        </div>
        <div> <!-- The Search Bar -->
          <form>
            <input name="search" aria-label="a new dream" type="text" maxlength="100" placeholder="Search">
          </form>
        </div>
        <div>
          <strong>adamqureshi</strong> (73)
        </div>
      </div>
      
    </header>

    <main>
      
      <!-- <section class="dreams">
        <ul id="dreams"></ul>
        <button id="clear-dreams">
          Clear Dreams
        </button>
      </section> -->
      
    </main>

    <footer>
      <p>Teslatracker is an independent organization and is not affiliated with Tesla Motors, Inc. or its subsidiaries. Tesla, Tesla Motors, Tesla Roadster, Model S, Model X, and the “Tesla”, “T” and “Tesla and T in Crest” designs are trademarks or registered trademarks of Tesla Motors, Inc. in the United States and other countries.</p>
    </footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js" defer></script>
  </body>
</html>
