<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The latest Tesla news">

    <title>TeslaTracker</title>
    
    <!-- Don't track the staging server -->
    <meta name="robots" content="noindex,nofollow">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/landing.css">
    
    <script>
      if (window.location.href.substr(0,5) !== 'https') {
        window.location.href = window.location.href.replace('http', 'https');
      }
    </script>
  </head>
  <body>
    <div class="grid">
      <div class="grid-item">
        
      </div>
      <div class="grid-item">
        <div class="tesla-image"></div>
      </div>
    </div>
  </body>
</html>
