<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="All your Tesla news in one spot. The easiest and fastest way to always know what's happening in the Tesla world.">

    <% if (isQuestion) { %>
      <title>Ask Question - TeslaTracker</title>
    <% } else { %>
      <title>Submit - TeslaTracker</title>
    <% } %>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/style.css">
    
    <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.glitch.com/d53aa53a-c591-4e03-8635-621cfc75b4fc%2Fapple-touch-icon.png?v=1633024068411">
    <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.glitch.com/d53aa53a-c591-4e03-8635-621cfc75b4fc%2Ffavicon-32x32.png?v=1633024067536">
    <link rel="icon" type="image/png" sizes="16x16" href="https://cdn.glitch.com/d53aa53a-c591-4e03-8635-621cfc75b4fc%2Ffavicon-16x16.png?v=1633024067378">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="https://cdn.glitch.com/d53aa53a-c591-4e03-8635-621cfc75b4fc%2Fsafari-pinned-tab.svg?v=1633024068947" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    
    <meta property="og:title" content="TeslaTracker">
    <meta property="og:site_name" content="TeslaTracker">
    <meta property="og:url" content="https://teslatracker.com/">
    <meta property="og:description" content="All your Tesla news in one spot">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://cdn.glitch.com/d53aa53a-c591-4e03-8635-621cfc75b4fc%2Fdylan-calluy-D1w-heh9uMg-unsplash%20(1)%20(1).jpg?v=1632874611225">
    
    <% if (staging) { %>
      <!-- Don't track the staging server -->
      <meta name="robots" content="noindex,nofollow">
      <script>
        if (window.location.href.substr(0,5) !== 'https') {
          window.location.href = window.location.href.replace('http', 'https');
        }
      </script>
    <% } %>
    
  </head>
  <body>
    <div class="container">
      
      <%- include(headerPartialPath) %>
    <main>
      
      <form class="form js-form" data-is-question="<%= isQuestion %>">
        
        <% if (!isQuestion) { %>
        <div class="form-element">
          <input required id="url" name="url" type="text" placeholder="Enter Url" class="js-url form-input">
        </div>
        <% } %>
        
        <% if (!isQuestion) { %>
        <div class="form-element">
          <input id="title" name="title" type="text" maxlength="280" placeholder="Enter Title" class="js-title form-input">
        </div>
        <% } %>
        
        <% if (isQuestion) { %>
        <div class="form-element">
          <input id="question" name="question" type="text" placeholder="Ask Your Question" class="js-question form-input">
        </div>
        <% } %>
        
        <div class="form-element">
          <textarea required name="description" id="description" type="text" maxlength="280" placeholder="Enter Description" class="js-description form-input form-textarea <% if (!isQuestion) { %>hidden<% } %>"></textarea>
          <span class="form-message js-description-message <% if (!isQuestion) { %>hidden<% } %>">Could not retrieve the url's description automatically. Please fill in an optional description.</span>
        </div>
        
        <div class="form-element">
          <% if (isQuestion) { %>
          <input type="submit" value="Ask Question" data-original-value="Ask Question" class="form-button js-form-button" />
          <% } else { %>
          <input type="submit" value="Submit Post" data-original-value="Submit Post" class="form-button js-form-button" />
          <% } %>
        </div>
        
        <div class="form-element error-message js-error-message">
          <% if (isQuestion) { %>
            <p class="form-message form-message--center">Only ask questions related to Tesla and Electric Vehicles. Thank you.</p>
          <% } else { %>
            <p class="form-message form-message--center">Only share Tesla and Electric Vehicles related content. Thank you.</p>
          <% } %>
        </div>
        
        <input type="hidden" class="js-author" value="<%= userInfo %>" />
        
      </form>

      <div class="success-message js-success-message hidden">
        <% if (isQuestion) { %>
        <p class="success-message-text">Thank you for submitting your question to TeslaTracker.</p>
        <% } else { %>
        <p class="success-message-text">Thank you for your submission to TeslaTracker.</p>
        <% } %>
      </div>
      
    </main>
      
    <%- include(footerPartialPath) %>
      
    </div>
  
    <script src="/dateFormat.js"></script>
    <script src="/submit.js"></script>
    <script src="/item.js"></script>
    <script src="/search.js"></script>
  
  </body>
</html>
