.form.form--comments {
  margin-left: 0;
}

.comments.comments--start {
  margin-top: 3rem;
}

.comment-contents {
  white-space: pre-line;
}

.comment {
  padding-right: 1rem;
}

.comment + .comment {
  margin-top: 1.5rem;
}

.comment-replies > .comments {
  margin-left: 2.5rem;
  margin-top: 1.5rem;
}