.form.form--comments {
  margin-left: 0;
}

.comments.comments--start {
  margin-top: 3rem;
}

.comment-contents {
  white-space: pre-line;
  color: var(--almost-black);
}

.comment {
  padding-right: 1rem;
}

.comment-header {
  font-size: 0.75rem;
  color: var(--dark-grey);
}

.comment-authorName {
  color: var(--dark-grey);
  text-decoration: none;
}

.comment-authorName:hover {
  text-decoration: underline;
}

.comment + .comment {
  margin-top: 1.5rem;
}

.comment-replies > .comments {
  margin-left: 2.5rem;
  margin-top: 1.5rem;
}