:root {
  --blue-grey: #5A6E7A;
  --blue: #3F67CE;
  --dark-grey: #444444;
  --almost-black: #111111;
  --light-mustard: #FAE7D1;
  --light-blue: #E9F1F7;
  --light-grey: #EDF0F2;
  --medium-blue: #8EC8F2;
}

* {
  box-sizing: border-box;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  font-smooth: always;
  -webkit-font-smoothing: auto;

  font-size: 14px;
}

body {
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
}

b,
strong {
  font-weight: bolder;
}

img {
  border-style: none;
}

p {
  margin: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
}

.tesla-image {
  background-color: #062b60;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  height: 100%;
}

.tesla-image img {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  transition: opacity 1s linear;
}

.tesla-image img.loaded {
  opacity: 1;
}

.tesla-image .img-small {
  filter: blur(50px);
  /* this is needed so Safari keeps sharp edges */
  transform: scale(1);
}

/* Logo */

.logo {
  width: 200px;
  height: auto;
  
  margin: 0 auto;
  display: block;
}

h1 {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  
  margin-bottom: 16px;
  margin-top: 36px;
}

.subheadline {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: var(--blue-grey);
  text-align: center;
}

.form {
  margin-top: 40px;
}

.form-input {
  background: none;
  border: none;
  width: 100%;
  background-color: var(--light-blue);
  padding: 10px 16px;
  border-radius: 3px;
  font-size: 14px;
}

.form-input::placeholder {
  color: var(--medium-blue);
}

.form-label {
  display: block;
  font-size: 12px;
  color: #000;
}

.form-element + .form-element {
  margin-top: 16px;
}

.form-label {
  margin-bottom: 8px;
}

.form-button {
  color: #FFF;
  background-color: var(--blue);
  
  display: block;
  width: 100%;
  
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  text-align: center;
  
  border: none;
  border-radius: 3px;
  
  padding: 10px 16px;
  
}

.container {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 80px;
  padding-bottom: 40px;
}

.footer-text {
  font-size: 12px;
  line-height: 1.2;
  color: var(--blue-grey);
}

.flex {
  display: flex;
}

.flex.flex--space {
  margin-left: -16px;
}

.flex.flex--space > .flex-item {
  margin-left: 16px;
}

footer {
  margin-top: 80px;
}

@media only screen and (min-height: 750px) {
  .container {
    height: 100%;
    position: relative;
  }
  
  footer {
    position: absolute;
    bottom: 40px;
  }
}

@media only screen and (max-width: 750px) {
  .grid {
    height: auto;
    grid-template-rows: 250px 1fr;
    grid-template-areas: "column-2 column-1";
    grid-template-columns: 100%;
  }
}