:root {
  --blue-grey: #5A6E7A;
  --blue: #3F67CE;
  --dark-grey: #444444;
  --almost-black: #111111;
  --light-mustard: #FAE7D1;
  --light-blue: #E9F1F7;
  --light-grey: #EDF0F2;
}

* {
  box-sizing: border-box;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  font-smooth: always;
  -webkit-font-smoothing: auto;

  font-size: 14px;
}

body {
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
}

b,
strong {
  font-weight: bolder;
}

img {
  border-style: none;
}

p {
  margin: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* Container */
.container {
  max-width: 1152px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Links */

.submit-link {
  color: var(--almost-black);
  font-weight: bolder;
}

/* Article */

.articles {
  margin-top: 40px;
}

.article + .article {
  margin-top: 40px;
}

.article-title {
  font-size: 20px;
  font-weight: 500;
  color: var(--almost-black);
}

.article-description {
  color: var(--dark-grey);
  line-height: 1.3;
  margin-top: 8px;
}

.article-tags {
  color: var(--blue);
}

.article-websitename,
.article-date {
  color: var(--blue-grey);
}

.article-websitename,
.article-date,
.article-tags {
  font-size: 12px;
}

.article-favicon {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.article-website {
  display: flex;
  align-items: center;
}

.article-websitename,
.article-tags {
  margin-left: 8px;
}

.footer-text {
  color: var(--blue-grey);
}

.article-details {
  display: flex;
  justify-content: space-between;
}

.article-footer {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.article-share {
  padding: 16px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  background-color: #EDF0F2;
  
  border-radius: 3px;
  cursor: pointer;
}

.article-share:hover {
  background-color: #c3c3c3;
}

.article-shareText {
  text-align: center;
  color: var(--blue-grey);
  font-size: 12px;
  margin-top: 4px;
}

.article-icon {
  background-color: var(--almost-black);
  border-radius: 3px;
  padding: 1px 7px;
  display: inline-block;
}

.article-icon > svg {
  vertical-align: middle;
}

/* Desktop-focused elements that are hidden for mobile. */
.article-sharecontainer {
  display: none;
}

.article-icon {
  display: none;
}

/* Alert */

.alert {
  margin-top: 32px;
  padding: 12px;
  background-color: var(--light-mustard);
  color: var(--almost-black);
  border-radius: 3px;
}

/* Search Box */

.searchbox {
  flex: 1;
}

.searchbox > form {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--light-blue);

  padding: 10px 16px;

  border-radius: 16px;
  
  border: 2px solid transparent;  
}

.searchbox-input,
.searchbox-submit {
  border: none;
  outline: none;
  background: none;
}

.searchbox-input {
  width: 100%;
}

.searchbox-input::placeholder {
  color: var(--blue);
}

.searchbox-submit {
  padding: 0;
}

.searchbox.searchbox--focused > form {
  border-color: rgb(19 46 125 / 52%);
  -webkit-box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
  box-shadow: 0 0 0 4px rgb(192 192 192 / 10%);
}

/* Search Container */

.searchcontainer {
  margin-bottom: 72px;
  margin-top: 72px;
}

.searchcontainer-term {
  text-align: center;
  font-size: 40px;
  color: var(--almost-black);
}

.searchcontainer-searchtext {
  font-weight: 500;
}

.searchcontainer-description {
  margin-top: 8px;
  color: var(--blue-grey);
  text-align: center;
}

/* Header */

header {
  margin-top: 32px;
  display: block;
}

.logo {
  display: block;
  margin: 0 auto;
}

.navigation {
  display: flex;
  align-items: center;
  margin-left: -8px;
  margin-top: 12px;
}

.navigation > * {
  margin-left: 8px;
}

/* More Button */

.more-button {
  background-color: var(--blue);
  color: #FFF;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 10px 16px;
  border-radius: 3px;
  margin-top: 40px;
}

.more-button:hover {
  background-color: #233973;
}

/* Layout Utilities */

.flex {
  display: flex;
}

.mt-onedown {
  margin-top: 8px;
}

.mr-default {
  margin-right: 16px;
}

/* Footer */

footer {
  margin-top: 88px;
  margin-bottom: 72px;
}

.footer-text {
  font-size: 12px;
  line-height: 1.2;
}

/* Media Queries */

@media only screen and (min-width: 1170px) {
  .container {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .article-title {
    font-size: 16px;
    line-height: 1.2;
  }
  
  .article-description {
    font-size: 12px;
    line-height: 1.3;
  }
}

@media only screen and (min-width: 600px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 72px;
  }

  .logo {
    margin-left: 0;
    width: 200px;
  }

  .navigation {
    margin-top: 0;
  }

  .searchbox {
    width: 124px;
  }
  
  .article-sharecontainer {
    display: block;
  }
  
  .article-icon {
    display: inline;
  }
}

@media only screen and (min-width: 775px) {
  .searchbox {
    width: auto;
    min-width: 293px;
  }

  .logo {
    width: auto;
  }
}
